<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quary-ts.duckdns.org/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>172.10.1.10</MSDeployServiceURL>
    <DeployIisAppPath>quarry.interworx.app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>.\administrator</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DomainDb" Order="1" Enabled="False">
          <Destination Path="Data Source=172.10.1.10;Initial Catalog=quarry;User ID=super_clown;Password=Global@2024!;TrustServerCertificate=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.10.1.10;Initial Catalog=quarry;User ID=super_clown;Password=Global@2024!;MultipleActiveResultSets=True;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DomainDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=172.10.1.10;initial catalog=quarry;user id=super_clown;password=Global@2024!;trustservercertificate=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ModelDb" Order="2" Enabled="False">
          <Destination Path="Data Source=172.10.1.10;Initial Catalog=quarry;User ID=super_clown;Password=Global@2024!;TrustServerCertificate=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=172.10.1.10;Initial Catalog=quarry;User ID=super_clown;Password=Global@2024!;MultipleActiveResultSets=True;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ModelDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.10.1.10;initial catalog=quarry;user id=super_clown;password=Global@2024!;trustservercertificate=True;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ModelDb-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string="data source=172.10.1.10;initial catalog=quarry;user id=super_clown;password=Global@2024!;trustservercertificate=True;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DomainDb-Web.config Connection String">
      <ParameterValue>data source=172.10.1.10;initial catalog=quarry;user id=super_clown;password=Global@2024!;trustservercertificate=True;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>