<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>penaro-dms</MSDeployServiceURL>
    <DeployIisAppPath>quarry.nuevavizcaya.gov.ph</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ModelDb" Order="1" Enabled="False">
          <Destination Path="Data Source=penaro-dms;Initial Catalog=quarry;Persist Security Info=True;User ID=sa;Password=Welcome99" Name="Data Source=penaro-dms;Initial Catalog=quarry;Persist Security Info=True;User ID=sa;Password=Welcome99;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=penaro-dms;Initial Catalog=quarry;Persist Security Info=True;User ID=sa;Password=Welcome99;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ModelDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=penaro-dms;initial catalog=quarry;persist security info=True;user id=sa;password=Welcome99;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ModelDb-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string="data source=penaro-dms;initial catalog=quarry;persist security info=True;user id=sa;password=Welcome99;multipleactiveresultsets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>