@model Permitees
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.AccreditationNumber, settings =>
            {
                settings.Properties.NullText = @"Accreditation Number";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = @"Accreditation Number";

                settings.ShowModelErrors = true;
                settings.ControlStyle.CssClass = "caption-same-width";
                //settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                //settings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).Bind(Model?.AccreditationNumber ?? new PermiteeHelper().AccreditationNumber).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.FirstName, settings =>
            {
                settings.Properties.NullText = "First Name";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "First Name";

                settings.ShowModelErrors = true;
                settings.ControlStyle.CssClass = "caption-same-width";
                //settings.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                //settings.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.MiddleName, settings =>
            {
                settings.Properties.NullText = "Middle Name";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Middle Name";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.LastName, settings =>
            {
                settings.Properties.NullText = "Last Name";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Last Name";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.BusinessRegistration, settings =>
            {
                settings.Properties.NullText = @"Business Registration";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Business Registration";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.BIRNo, settings =>
            {
                settings.Properties.NullText = @"BIR No";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = @"BIR No";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.CompanyName, settings =>
            {
                settings.Properties.NullText = "Company Name";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Company Name";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.ContactNumber1, settings =>
            {
                settings.Properties.NullText = "Contact Number1";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Contact Number1";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.AddressLine1, settings =>
            {
                settings.Properties.NullText = "Address Line1";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Address Line1";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().TextBoxFor(m => m.AddressLine2, settings =>
            {
                settings.Properties.NullText = "Address Line2";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Address Line2";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
            }).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.DevExpress().ComboBoxFor(m => m.PermiteeTypeId, settings =>
            {
                settings.Properties.NullText = "Permitee Type";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Permitee Type";
                settings.ShowModelErrors = true;
                settings.Properties.ValidationSettings.Display = Display.Dynamic;
                settings.Properties.TextField = "PermiteeTypeName";
                settings.Properties.ValueField = "Id";
            }).BindList(new UnitOfWork().PermiteeTypesRepo.Get()).GetHtml();
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        @{
            Html.RenderAction("TokenBoxQuarriesInPermiteePartial", new { permiteeId = Model?.Id, quarrySites = ViewBag.QuarrySites });
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        @{

        }
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-lg-12 col-md-12 ">
        @{
            Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnSubmit";
                settings.Text = "Submit";
                settings.ClientSideEvents.Click = "function(s,e){PermiteeGridView.UpdateEdit()}";
            }).GetHtml();
            Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.Text = "Cancel";
                    settings.ControlStyle.CssClass = "margin-left-10";
                    settings.ClientSideEvents.Click = "function(s,e){PermiteeGridView.CancelEdit()}";
                }).GetHtml();
        }
    </div>
</div>


