
@model Vehicles

@*<div class="row">
        <div class="col-md-12 col-lg-12">
            @{
                Html.DevExpress().TextBoxFor(m => m.VehicleName, settings =>
                {
                    settings.Properties.NullText = "Vehicle Name";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Vehicle Name";
                    settings.ShowModelErrors = true;
                    settings.Properties.ValidationSettings.Display = Display.Dynamic;
                }).GetHtml();
            }
        </div>
    </div>*@
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            @{
                Html.DevExpress().TextBoxFor(m => m.PlateNo, settings =>
                {
                    settings.Properties.NullText = "Plate No";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Plate No";
                    settings.ShowModelErrors = true;
                    settings.Properties.ValidationSettings.ValidateOnLeave = true;
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                    settings.Properties.ValidationSettings.Display = Display.Dynamic;
                }).GetHtml();
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            @{
                Html.DevExpress().TextBoxFor(m => m.Description, settings =>
                {
                    settings.Properties.NullText = @"Description";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Description";
                    settings.ShowModelErrors = true;
                    settings.Properties.ValidationSettings.Display = Display.Dynamic;

                }).GetHtml();
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            @{
                Html.DevExpress().ComboBoxFor(m => m.VehicleTypeId, settings =>
                {
                    settings.Properties.NullText = "Vehicle Type";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Vehicle Type";
                    settings.ShowModelErrors = true;
                    settings.Properties.ValidationSettings.Display = Display.Dynamic;
                    settings.Properties.TextField = "VehicleTypeName";
                    settings.Properties.ValueField = "Id";
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                }).BindList(new UnitOfWork().VehicleTypesRepo.Get()).GetHtml();
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            @{
                Html.DevExpress().ComboBoxFor(m => m.PermiteeId, settings =>
                {
                    settings.Properties.NullText = "Permitee";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Permitee";
                    settings.ShowModelErrors = true;
                    settings.Properties.ValidationSettings.Display = Display.Dynamic;
                    settings.Properties.TextField = "FullName";
                    settings.Properties.ValueField = "Id";
                    settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                }).BindList(new UnitOfWork().PermiteesRepo.Get()).GetHtml();
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            @{
                Html.DevExpress().TextBoxFor(m => m.Capacity, settings =>
                {
                    settings.Properties.NullText = "Capacity";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Capacity";
                    settings.ShowModelErrors = true;
                    settings.Properties.ValidationSettings.Display = Display.Dynamic;

                }).GetHtml();
            }
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-lg-12 col-md-12 ">
            @{
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnSubmit";
                    settings.Text = "Submit";
                    settings.ClientSideEvents.Click = "function(s,e){VehiclesGridView.UpdateEdit()}";
                    settings.CausesValidation = true;
                    // settings.UseSubmitBehavior = true;
                }).GetHtml();
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.Text = "Cancel";
                    settings.ControlStyle.CssClass = "margin-left-10";
                    settings.ClientSideEvents.Click = "function(s,e){VehiclesGridView.CancelEdit()}";
                }).GetHtml();
            }
        </div>
    </div>
}


