
@model TransactionVehicles

@{
    int? permiteeId = ViewBag.PermiteeId;
    Vehicles vehicles = ViewBag.Vehicle as Vehicles;
    string transactionId = ViewBag.TransactionId;
}
<input type="hidden" name="TransactionId" value="@ViewBag.TransactionId" />


<div class="row">
    <div class="col-lg-4">
        @{
            Html.DevExpress().ComboBoxFor(m => m.VehicleId, settings =>
            {
                settings.Properties.TextField = "Vehicle";
                settings.Properties.ValueField = "Id";
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Vehicle";
                settings.Properties.ClientSideEvents.TextChanged = "function(s,e){VehicleGridView.PerformCallback({PermiteeId:'" + permiteeId + "',TransactionId:'" + ViewBag.TransactionId + "',VehicleId:s.GetValue()})}";
            }).BindList(new UnitOfWork().VehiclesRepo.Get(m => m.PermiteeId == permiteeId && m.TransactionVehicles.All(x=>x.TransactionId!=transactionId)).Select(x=>new{x.Id,Vehicle=x.PlateNo +"-"+ x.VehicleTypes.VehicleTypeName})).Bind(vehicles?.Id??Model?.VehicleId).GetHtml();
        }
    </div>
</div>
<div class="row ">
    <div class="col-lg-4">
        @{
            Html.DevExpress().SpinEditFor(m => m.Cost, settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "Cost";
                settings.Properties.DisplayFormatString = "N2";
                settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                settings.Properties.SpinButtons.ShowIncrementButtons = false;
                settings.Properties.Increment = 1;

                settings.Properties.NumberType = SpinEditNumberType.Float;
                settings.Properties.DisplayFormatString = "f2";
            }).Bind(vehicles?.VehicleTypes?.Cost??Model?.Cost).GetHtml();
        }
    </div>
</div>
<div class="row ">
    <div class="col-lg-4">
        @{
            Html.DevExpress().CheckBoxFor(m => m.isRenew, settings =>
            {
                settings.Width = Unit.Percentage(100);
                settings.Properties.Caption = "is Renew";
            }).GetHtml();
        }
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-lg-12">

        @{
            Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnSubmitVehicleTransaction";
                settings.Text = "Submit";
                settings.ClientSideEvents.Click = "function(s,e){VehicleGridView.UpdateEdit()}";
            }).GetHtml();
            Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnCancelVehicleTransaction";
                settings.Text = "Cancel";
                settings.ClientSideEvents.Click = "function(s,e){VehicleGridView.CancelEdit()}";
            }).GetHtml();
        }

    </div>
</div>