@model Transactions
@using (Ajax.BeginForm("UpdateSignatoriesPartial", "Transactions", new { Id = Model?.Id },
    new AjaxOptions()
    {
        OnBegin="showLoading()",
        OnComplete= "ReportViewShow()"
    }))
{


    <div class="row">
        <div class="col-lg-12">
            @{
                Html.DevExpress().ComboBoxFor(m => m.Signatory, settings =>
                {

                    settings.Properties.ValueField = "Signatory";
                    settings.Properties.TextField = "Signatory";
                    settings.Width = Unit.Percentage(100);
                }).BindList(new UnitOfWork().SignatoriesRepo.Get()).GetHtml();
            }
        </div>
    </div>

    <div class="row margin-top-10">
        <div class="col-lg-12">

            @{
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnSubmitUpdateSignatories";
                    settings.Text = "Submit";
                    settings.UseSubmitBehavior=true;
                }).GetHtml();
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancelUpdateSignatories";
                    settings.Text = "Cancel";
                    settings.ClientSideEvents.Click = "function(s,e){popControlUpdateSignatories.Hide()}";
                }).GetHtml();
            }

        </div>
    </div>
}
