
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_errorLayout.cshtml";
}

<div class="error-page">
    <h2 class="headline text-yellow"> 403</h2>

    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Access Denied.</h3>

        <p>
            You do not have access to the requested page
            Meanwhile, you may <a href="@Url.Action("index","home")">return to dashboard</a> or Login with different credential.
        </p>

   
    </div>
    <!-- /.error-content 
    /*  <form class="search-form">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Search">

        <div class="input-group-btn">
            <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    
    </form>
    -->
</div>