<div class="alert alert-danger material error-alert" role="alert" id="error-dialog">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Oh snap!</strong> @ViewBag.Error
</div>
