@using Models.Repository

<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/Content/admin-lte/img/user2-160x160.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">@User.Identity.GetFullName()</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            <img src="~/Content/admin-lte/img/user2-160x160.jpg" class="img-circle" alt="User Image">

            <p>
                @(User.Identity.GetFullName()  )- @User.Identity.GetUserRoles()
        
            </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <div class="row">
                @*<div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                </div>*@
            </div>
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            @*<div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>*@
            <div class="pull-right">
                <a href="@Url.Action("LogOff","Member")" class="btn btn-default btn-flat">Sign out</a>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
</li>
