
@{
    Html.DevExpress().PopupControl(settings =>
    {
        settings.Name = "AddDeliveryReceiptPopup";
        settings.HeaderText = "Add Delivery Receipt";
        settings.Modal = true;
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<div id='form-add-delivery-modal'>");
            Html.RenderAction("AddDeliveryReceiptContentPartial", new { transactionId = ViewBag.TransactionId });
            ViewContext.Writer.Write("</div>");
        });
        settings.ShowOnPageLoad = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.Width = 500;
        settings.Modal = true;
    }).GetHtml();
}