
@{
    ViewBag.Title = "Transactions With Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Action("TransactionWithBalanceGridViewPartial")

<div id="form-add-delivery">

</div>
<script>
    function showModal(transactionId) {
        showLoading();
        $.ajax({
            url: '@Url.Action("AddDeliveryReceiptPopupPartial")',
            data: { transactionId: transactionId },
            success: function (result) {
                $('#form-add-delivery').html(result);
                hideLoading();
            }

        });
    }
    var oncomplete = function onComplete() {
        TransactionGridView.PerformCallback();
    }
</script>