body {
    font-family:Roboto !important 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.margin-top-10 {
    margin-top: 10px !important;
}

.margin-left-10 {
    margin-left:10px !important;
}

.form-group-left .form-control-feedback {
    left: 0 !important;
}
.form-group-left input[type=text], .form-group-left input[type=password] {
    padding-left: 20px !important;
}

div#lessonPopup_PW-1 {
    width: 100% !important;
}

.collapse.in {
    border-color: #009688;
    border-left: 5px solid #009688 !important;
}
.c-tables tr td{
    padding-bottom: 5px !important;
    
}
.panel.panel-default {
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
}
.panel-default .panel-heading {
    background-color: white !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto';
    font-weight:600;
}
#container {
    padding-top: 10px !important;
}
.material {
    -ms-border-radius:0px !important;
    border-radius:0px !important
}
.material.alert-danger {
    color: #7f231c !important;
    background-color: #fdd9d7 !important;
    border-color: #fccac7 !important;
}
.visible-alert {
    display: none !important;
}
.ui-effects-wrapper {
    display:inline;
}
.dxeCLLSys label {
    min-width: 140px;
    text-align: right;
    max-width: 110px !important;
}
.text-left {
    text-align: left !important;
}


.file-manager .col-md-12 {
    width: 33.33% !important;
}

.token-max-height-200 .dxic.dxictb {
    overflow: auto !important;
    max-height: 200px !important;
}
.white-space-normal {
    white-space: normal !important;
}
@media only screen and (max-width: 1280px) {
    /* STYLES HERE for DEVICES with physical max-screen width of 480px */
    .td-min-width {
        max-width:70px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.p-danger {
    color: red !important;
}
.dxeCLLSys label.quarries {
    max-width: 500px !important;
}