@model AccountingReportViewModel

@{
    ViewBag.Title = "Accounting Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

@using (Ajax.BeginForm(new AjaxOptions() { Url = Url.Action("AccountingReportPartial"), OnBegin = "showLoading()", OnComplete = "hideLoading()", UpdateTargetId = "container" }))
{
    <div class="row">
        <div class="col-lg-2">
            @{
                Html.DevExpress().ComboBoxFor(m => m.PermitteeId, settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Permittee";
                    settings.Properties.TextField = "CompanyName";
                    settings.Properties.ValueField = "Id";

                    settings.Width = Unit.Percentage(100);
                    settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e){selectPermittee(s,e)}";
                }).BindList(new UnitOfWork().PermiteesRepo.Get()).GetHtml();
            }
        </div>
        <div class="col-lg-2">
            <div id="quarries-in-permittee">
                @{
                    Html.RenderAction("CboQuarriesInPermittee", new { item = Model });
                }
            </div>
        </div>
        <div class="col-lg-2">
            @{
                Html.DevExpress().DateEditFor(m => m.DateFrom, settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Date From";
                }).GetHtml();
            }
        </div>
        <div class="col-lg-2">
            @{
                Html.DevExpress().DateEditFor(m => m.DateTo, settings =>
                {
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.Caption = "Date To";
                }).GetHtml();
            }
        </div>
        <div class="col-lg-2">
            @{
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "submit";
                    settings.UseSubmitBehavior = true;
                    settings.Text = "Submit";
                }).GetHtml();
            }
        </div>
    </div>
}
<div id="container"></div>
<script>
    function selectPermittee(s,e) {
        var permitteeId = s.GetValue();
        $.ajax({
            url: "@Url.Action("CboQuarriesInPermittee")",
            data: { PermitteeId: permitteeId },
            success: function (retval) {
                $('#quarries-in-permittee').html(retval);
            }
    });
    }
</script>