
@{
    ViewBag.Title = "PTO Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm(new AjaxOptions()
{
    Url = Url.Action("SummaryProductionReportPerPermitteePartial", new { isSubmitted = true }),
    UpdateTargetId = "container",
    OnBegin = "showLoading()",
    OnComplete = "hideLoading()"
}))
{
    <div class="row">
        <div class="col-lg-4">
            @{
                Html.DevExpress().DateEdit(settings =>
                {
                    settings.Name = "dateFrom";

                    settings.Properties.Caption = "Date From";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.CaptionSettings.Position = EditorCaptionPosition.Left;
                }).GetHtml();
            }
        </div>
        <div class="col-lg-4">
            @{
                Html.DevExpress().DateEdit(settings =>
                {
                    settings.Name = "dateTo";
                    settings.Properties.Caption = "Date From";
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.CaptionSettings.Position = EditorCaptionPosition.Left;
                }).GetHtml();
            }
        </div>
        <div class="col-lg-4">
            @{
                Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnSubmit";
                    settings.Text = "Submit";
                    settings.UseSubmitBehavior = true;
                }).GetHtml();
            }
        </div>
    </div>
}
<div id="container">

</div>